# <<--- Flutter --->
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart
.packages

# <<--- Firebase --->
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart

# <<--- IDE --->
.idea/
.vscode/
*.iml
.DS_Store

# <<--- Android --->
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/GeneratedPluginRegistrant.java

# <<--- iOS --->
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*